arxiv==2.1.3
tqdm==4.66.4
git+https://github.com/paperswithcode/paperswithcode-client.git@547a498ce8a921df7781aab36a7e2f8b4cf3b9b9
pyyaml
beautifulsoup4
selenium
webdriver-manager
soupsieve
semanticscholar==0.8.4
fastapi==0.111.0
fastapi-camelcase==2.0.0
asgi-correlation-id==4.3.1
python-multipart==0.0.9
structlog==24.1.0